.border-grey {
    border: thin solid darkgray;
    border-radius: 5px;
    margin-top: 20px;
}

.col-vote{
    position: relative;
    width: 100%;
    padding-left: 20px;
    -ms-flex: 0 0 4%;
    flex: 0 0 4%;
    max-width: 4%;
}

.col-2{
    padding-left: 0;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

#meme-content {
    margin-top: 10px;
    margin-bottom: 20px;
}

label{
    display: block;
}