/* Set the size of the message input to be 100 pixels high
   and will fill the width of its parent element. */

#message-input {
    height: 100px;
    width: 100%;
}

.jumbotron{
    padding-bottom: 0;
}
